Pets List
<div>
  <a href="/users/{{userId}}">Back to User</a>
</div>


<div>
  <div class="pets-list">
    {{#each pets}}
    <a href="/users/{{../userId}}/pets/{{this._id}}">
      <div>
        {{this.name}}
      </div>
    </a>
    {{/each}}
  </div>

  <div>
    <a href="/users/{{userId}}/pets/new">New Pet</a>
  </div>
</div>