Pets List
<a href="/users/{{../userId}}/pets/{{this._id}}">{{this.name}}</a>

{{user.age}} {{userId}} {{pet}} {{!--
<div>
  <a href="/users/{{userId}}">Back to User</a>
</div>
<div>
  <div class="pets-list">
    {{#each pets}}
    <a href="/users/{{this._id/pets}}">
      <div>
        {{this.petName}}
      </div>
    </a>
    {{/each}}
  </div>

  <div>
    <a href="/pets/new">New Pet</a>
  </div>
</div> --}}