<h1>{{userName}}'s Pet's List</h1>
<div>
  <a href="/users/{{userId}}">Back to User</a>
</div>


<div>
  <div class="pets-list">
    {{#each pets}}
    <a href="/users/{{../userId}}/pets/{{this._id}}">
      <h2>
        {{this.name}}
      </h2>
    </a>
    <div>
      {{!-- {{#each pets.images}}
      <img src="{{this.imageUrl}}" alt="{{this.description}}" height="50"> pic{{/each}}
    </div>
    {{/each}} --}}
  </div>

  <div>
    <a href="/users/{{userId}}/pets/new">New Pet</a>
  </div>
</div>