<div class="nav">
  <a href="/users/{{userId}}">Back to User</a>
  <a href="/users/{{userId}}/pets">Back to Pets</a>
</div>

<div class="pet-info">
  <h1>{{pet.name}}</h1>
  <h2>Age: {{pet.age}}</h2>
  <a href="/users/{{userId}}/pets/{{petId}}/delete">Remove this pet</a>
</div>