<div class="nav">
  <a href="/users/{{userId}}">Back to User</a>
  <a href="/users/{{userId}}/pets">Back to Pets</a>
  <a href="/users/{{userId}}/pets/{{petId}}/delete">Remove this pet</a>
  <a href="/users/{{userId}}/pets/{{petId}}/put">Edit this pet's details</a>
</div>

<div class="pet-info">
  <h1>{{pet.name}}</h1>
  <h2>Age: {{pet.age}}</h2>
</div>
</br>
<div>
  Pictures of {{pet.name}}:
</div>
<div>
  {{#each pet.images}}
  <div>
    <a href="/users/{{../userId}}/pets/{{this._id}}/images/">
      <img src="{{this.imageUrl}}" alt="{{this.description}}" height="200"> </a>
  </div>
  <div>
    {{this.description}} {{!--
    <a href="/users/{{../userId}}/pets/{{this._id}}/images/new">Add a Pic of {{../pet.name}}</a> --}}
  </div>
  {{/each}}
</div>