<div class="nav">
  <a href="/users/{{userId}}">Back to User</a>
  <a href="/users/{{userId}}/pets">Back to Pets</a>
  <a href="/users/{{userId}}/pets/{{pet._id}}">Back to {{pet.name}}</a>
</div>

<div class="image-info">
  <h1>{{pet.name}}</h1>
</div>
<div>
  <div>
    <h2 class="picture-title">{{image.description}}</h2>
    <img src="{{image.imageUrl}}" alt="{{image.description}}" height="300">
  </div>
</div>