<div>
  <h1>Edit User: {{user.username}}</h1>
</div>

<div>
  <form action="/users/{{user._id}}?_method=PUT" method="POST">
    <div>
      <label for="username">Username</label>
      <input type="text" name="username" value="{{user.username}}" />
    </div>
    <div>
      <label for="password">Password (unsecure)</label>
      <input type="text" name="password" value="{{user.password}}" />
    </div>
    <div>
      <label for="firstname">First Name</label>
      <input type="text" name="firstname" value="{{user.firstname}}" />
    </div>

    <div>
      <input type="submit" value="Update User">
    </div>
  </form>
</div>