<div>
  <div>First Name: {{user.firstname}}</div>
  <div>Username: {{user.username}}</div>
  <div>Password: {{user.password}}</div>
  <a href="/users/{{user._id}}/pets">Your Pets</a>

  <div>Edit this
    <a href="/users/{{user._id}}/edit">User</a>
  </div>
</div>